<div class="carousel-wrapper">
  <button class="nav-button left" (click)="previousImage()">
    &#10094;
  </button>
  <div class="carousel-container">
    <div class="image-container">
      <img
        (error)="onImageError($event)"
        [ngSrc]="captionedImages[currentIndex].url"
        title="{{captionedImages[currentIndex].caption}}"
        alt="{{captionedImages[currentIndex].caption}}"
        loading="lazy"
        fill>
    </div>
  </div>
  <button class="nav-button right" (click)="nextImage()">
    &#10095;
  </button>
</div>

<div class="indicators">
  <p>{{captionedImages[currentIndex].caption}}</p>
  <span
    *ngFor="let image of captionedImages; let i = index"
    [class.active]="i === currentIndex"
    (click)="goToImage(i)">
  </span>
</div>
