<div [@fadeIn]>
  <div class="tabs">
    <button
      (click)="selectTab('app-publications')"
      [class.active]="selectedTab === 'app-publications'">
      Academic publications
    </button>
    <button
      (click)="selectTab('app-popular-science')"
      [class.active]="selectedTab === 'app-popular-science'">
      Popular science and blogs
    </button>
    <button
      (click)="selectTab('app-the-reta-language')"
      [class.active]="selectedTab === 'app-the-reta-language'">
      The Reta language
    </button>
  </div>
  <div class="tab-content">
    <app-popular-science *ngIf="selectedTab === 'app-popular-science'"></app-popular-science>
    <app-publications *ngIf="selectedTab === 'app-publications'"></app-publications>
    <app-the-reta-language *ngIf="selectedTab === 'app-the-reta-language'"></app-the-reta-language>
  </div>
</div>
