<div [@fadeIn] class="game">
  <h2 style="margin-top: 0">Tic-Tac-Toe</h2>
  <div class="board">
    <div
      (click)="makeMove(idx)"
      *ngFor="let cell of board; let idx = index"
      class="cell">
      {{ cell }}
    </div>
  </div>
  <div *ngIf="winner" class="result">
    <p *ngIf="winner !== 'Draw'">Player {{ winner }} Wins</p>
    <p *ngIf="winner === 'Draw'">It's a Draw</p>
    <button (click)="newGame()">New Game</button>
  </div>
  <div *ngIf="!winner" class="turn">
    Player {{ playerTurn }}'s turn
  </div>
</div>

