<div class="game">
  <h2 style="margin-top: 0">Hangman Game</h2>
  <p class="word">
    <span *ngFor="let letter of displayedWord">{{ letter }} </span>
  </p>
  <p>Attempts Left: {{ attemptsLeft }}</p>
  <div class="alphabet">
    <button
      (click)="guessLetter(letter)"
      *ngFor="let letter of alphabet"
      [disabled]="guessedLetters.includes(letter) || gameOver">
      {{ letter | uppercase }}
    </button>
  </div>
  <div *ngIf="gameOver" class="result">
    <p *ngIf="won">Congratulations! You guessed the word!</p>
    <p *ngIf="!won">Game Over! The word was "{{ secretWord }}".</p>
    <button (click)="newGame()">Play Again</button>
  </div>
</div>
