@use '@angular/material' as mat;
@include mat.core();
@import 'highlight.js/styles/github.css';

$portfolio-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($portfolio-theme);
}

:root {
  --primary-color: #2e2e2e;
  --secondary-color: #ffffff;
  --accent-color: #526868;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --light-background-color: #c9cdcd;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  font-family: 'Roboto Mono', monospace;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  color: #000000;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.tabs {
  display: flex;
  padding-top: 5px;
}

.tabs button {
  padding: 10px 20px;
  margin-right: 5px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
}

.tabs button.active {
  background-color: var(--accent-color);
  color: white;
}

.tab-content {
  padding: 0;
}

.code-block {
  background-color: var(--light-background-color);
  width: 75vw;
  font-size: small;
  margin: 0 auto
}

.paragraph-block {
  background-color: var(--background-color);
  width: 75vw;
  margin: 0.5em auto 0 auto;
  font-size: small;
  text-justify: distribute-all-lines;
}

h5 {
  margin: 5px 0 0 0 !important;
}

h6 {
  margin: 0 !important;
}
