<div class="not-found-container" [@fadeIn]>
  <h1>404</h1>
  <h2>Page Not Found :(</h2>
  <p>The page you're looking for does not exist. Try one of these: </p>
  <div class="row">
    <a routerLink="/about-me" routerLinkActive="active" class="home-button">About Me</a>&nbsp;
    <a routerLink="/linguistics" routerLinkActive="active" class="home-button">Linguistics</a>&nbsp;
    <a routerLink="/programming" routerLinkActive="active" class="home-button">Programming</a>&nbsp;
<!--    <a routerLink="/contact-me" routerLinkActive="active" class="home-button">Contact Me</a>-->
  </div>
</div>
