<div class="development-experiences-container">
  <mat-card *ngFor="let category of developmentExperienceCategories" class="development-experience-card">
    <mat-card-header>
      <mat-card-title>{{ category.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let experience of category.experiences">
        <mat-expansion-panel>
          <mat-expansion-panel-header [collapsedHeight]="'20px'">
            <mat-panel-title> {{ experience.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p> {{ experience.info }} </p>
        </mat-expansion-panel>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
